:root {
    --dark-color: #2F3E46;
    --medium-color: #52796f;
    --light-color: #84a98c;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-color);
}
